p {
  font-size: 18px;
}

h1.title {
  margin-bottom: 25px;
}

a.edit {
  font-size: 14px;
}

img.main-image {
  display: block;
  margin: auto;
}

.navbar {
  margin-bottom: 0;
}

.container {
  padding-bottom: 20px;
}
