<div class="row">
  <div class="col-sm-12 well">
    <img class="main-image img-responsive" src="/images/salon.jpg" alt="image of salon">
  </div>
</div>
<h1>Stylists</h1>
<div class="row">
#foreach ($stylist in $stylists)
  <div class="col-sm-4">
    <h3><a href="/stylists/$stylist.getId()">$stylist.getFirstName() $stylist.getLastName()</a></h3>
    <p><em>$stylist.getDescription()</em></p>
  </div>
#end
</div>
