<img class="main-image jumbotron" src="/images/salon.jpg" alt="image of salon">
<h1>Stylists</h1>

<div class="row">
#foreach ($stylist in $stylists)
  <div class="col-sm-4">
    <h3><a href="/stylists/$stylist.getId()">$stylist.getFirstName() $stylist.getLastName()</a></h3>
    <p><em>$stylist.getDescription()</em></p>
  </div>
#end
</div>
