<h1>Stylists</h1>

#foreach ($stylist in $stylists)
  <a href="/stylists/$stylist.getId()"><h4>$stylist.getFirstName() $stylist.getLastName()</h4></a>
  <ul>
    <li>Description: $stylist.getDescription()</li>
    <li>Clients: 
      #foreach($client in $clients)
        #if($client.getStylistId() == $stylist.getId())
          $client.getFirstName(),
        #end
      #end
    </li>
  </ul>
#end

<a href="/stylists/new">Add a new stylist</a>
